.metadata
.recommenders
_Resources
RemoteSystemsTempFiles
/**/target/
/**/.settings/
/**/*.iml
/**/.idea
/**/redmine-protocol.log
/redmine.protocol/src/main/resources/application-development.yml
